@page "/operator"
@using BeerProduction.Services
@inject DatabaseConnection Db
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject MachineControlService Machine
@using System.Timers


<link rel="stylesheet" href="css/operatorStyle.css"/>


<div class="machine-view">
    
    <div class="machine-inventory">
        <ol class="ordered-queue">
        
            <li class="queue-item" >
                <h4 class="BatchId"> BatchId </h4>
                <p>Status: venter</p> 
            </li>


            <li class="queue-item">
                <h4 class="BatchId">BatchId</h4>
                <p>Status: Venter</p>
            </li>

            <li class="queue-item">
                <h4 class="BatchId">BatchId</h4>
                <p>Status: Venter</p>
            </li>
        </ol>
    </div>
    <div class="machine-meter">
        <div class="variables">
            <ul>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Batch.jpg" alt="Batch" > 
                    <span>
                        @Machine.GetBatchId()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Temperature.jpg" alt="Temperature" > 
                    <span>
                        @Machine.GetTemperature()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Humidity.jpg" alt="Humidity"> 
                    <span>
                        @Machine.GetHumidity()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/AmountToProduce.jpg" alt="Amount to produce">
                    <span>
                        @Machine.GetAmount()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Produced.jpg" alt="Produced" > 
                    <span>
                        @Machine.GetProduced()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/AcceptableProducts.jpg" alt="Acceptable Products" > 
                    <span>
                        @Machine.GetAcceptable()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/DefectProduct.jpg" alt="Defect Products"> 
                    <span>
                        @Machine.GetDefects()
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/SuccesRate.jpg" alt=" Succesrate"> 
                    <span>
                        @Machine.LiveSuccesRate()
                    </span>
                </li>
            </ul>

        </div>
    </div>
    <div class="Machine-bottom">
        
        <div class="ButtonAlert">
            <button class="AlertButton">
                ALERT
            </button>

        </div>
        
        

    </div>
</div>

@code {
    private Timer? _refreshTimer;
    
    protected override void OnInitialized()
    {
        // Start with Temperature and Batch Progress selected
        
        _refreshTimer = new Timer(1000);
        _refreshTimer.Elapsed += async (_, _) => await OnTimerElapsed();
        _refreshTimer.AutoReset = true;
        _refreshTimer.Enabled = true;
    }
    
    private async Task OnTimerElapsed()
    {
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error in operator timer: {e.Message}");
       
        }
       
    }

    public void Dispose()
    {
        _refreshTimer.Stop();
        _refreshTimer.Dispose();
    }
   




}