@page "/operator"
@using BeerProduction.Services
@inject DatabaseConnection Db
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<link rel="stylesheet" href="css/operatorStyle.css"/>

@if (MachineValidation())
{
<div class="machine-view">
    <div class="machine-inventory">

    </div>
    <div class="machine-meter">
        <div class="variables">
            <ul>
                <li>
                    <label>
                        <img class="variable-img" alt="Batch ID: " src=""/>@_machine.BatchId
                    </label>
                </li>
                <li>
                    <label>
                        <img class="variable-img" alt="Amount to produce: " src=""/>@_machine.Amount
                    </label>
                </li>
                <li>
                    <label>
                        <img class="variable-img" alt="PPM: " src=""/>@_machine.PPM
                    </label>
                </li>

                @if (_temperatureCheck)
                {
                    <li>
                        <label>
                            <img class="variable-img" alt="Temperature: " src=""/>@_machine.Temperature
                        </label>
                    </li>
                }
                @if (_humidityCheck)
                {
                    <li>
                        <label>
                            <img class="variable-img" alt="Humidity: " src=""/>@_machine.Humidity
                        </label>
                    </li>
                }
                @if (_vibrationCheck)
                {
                    <li>
                        <label>
                            <img class="variable-img" alt="Vibration" src=""/>@_machine.Vibration
                        </label>
                    </li>
                }
                @if (_defectsCheck)
                {
                    <li>
                        <label>
                            <img class="variable-img" alt="Defect products: " src=""/>@_machine.Defects
                        </label>
                    </li>
                }
                @if (_acceptableCheck)
                {
                    <li>
                        <label>
                            <img class="variable-img" alt="Acceptable products:" src=""/>@_machine.Acceptable
                        </label>
                    </li>
                }
            </ul>
        </div>
        <div class="machine-settings">
            <label><InputCheckbox @bind-Value="_temperatureCheck"/> Temperature</label><br/>
            <label><InputCheckbox @bind-Value="_humidityCheck"/> Humidity</label><br/>
            <label><InputCheckbox @bind-Value="_vibrationCheck"/> Vibration</label><br/>
            <label><InputCheckbox @bind-Value="_defectsCheck"/> Defect products</label><br/>
            <label><InputCheckbox @bind-Value="_acceptableCheck"/> Acceptable products</label><br/>
        </div>
    </div>
    <div class="machine-maintenance">

    </div>
</div>
}
@if (!MachineValidation())
{
    <div class="machine-error">
        
    </div>
}
    


@if (_machineId == 0 || _machineURL == "")
{
    <div class="error-box">
        <p>An error occurred</p>
    </div>
}

@code {
    private bool _temperatureCheck;
    private bool _humidityCheck;
    private bool _vibrationCheck;
    private bool _defectsCheck;
    private bool _acceptableCheck;
    
    private static int _machineId;
    private static string? _machineURL;

    

    protected async Task MachineAsync()
    {
        _loading = true;
        _error = null;

        try
        {
            await using var conn = await Db.OpenAsync();   // pooled under the hood
            await using var cmd  = conn.CreateCommand();

            cmd.CommandText = @"SELECT u.username, m.machineId 
                                FROM public.user_table u 
                                JOIN public.roles r ON u.role_id = r.role_id 
                                WHERE TRIM(u.username) = _ AND TRIM(u.password) = @pass;";

            await using var rdr = await cmd.ExecuteReaderAsync();

            if (await rdr.ReadAsync())
            {
                var username = rdr.GetString(rdr.GetOrdinal("_machineId"));
                var role = rdr.GetString(rdr.GetOrdinal("_machineURL"));
                var result = await cmd.ExecuteScalarAsync();

                MachineControl _machine = new MachineControl(_machineId, _machineURL);
            }
            else
            {
                _error = "Incorrect username or password.";
            }
        }
        catch (Exception ex)
        {
            _error = "" + ex.Message;
        }
        finally
        {
            _loading = false;
        }
    }
}